.auth {
    float: right;
}

.container {
    width: 50%;
    padding: 0;
}

nav {
    border-radius: 4px;
}

.mobileNav {
    text-decoration: none;
    margin: auto;
    padding: 0;
    width: 50%;
    background-color: black;
    min-width: 360px;
}

.mobileNav span {
    padding: 0 5px 0 5px;
}

.mobileNav span a {
    color: white;
}