.container{
    margin: auto;
    width: 50%;
    border: 1px solid #9e9a9a;
    box-shadow: -2px -2px 5px 1px #9e9a9a inset;
    border-radius: 5px;
    padding: 0;
    min-width: 320px;
}

.body-container {
    text-align: center;
    visibility: visible;
}

.loading {
    visibility: hidden;
}

input {
    border: 1px solid black;
}