<div class="calendar">
    <div class="container">
        <div class="row">
            <div class="monthRow col-xs-12">
                <span class="previousMonth" (click)="previousYear()">
                    <<</span>
                <span>{{ year }}</span>
                <span class="nextMonth" (click)="nextYear()">>></span>
            </div>
        </div>
        <div class="row">
                <div class="monthRow col-xs-12">
                    <span class="previousMonth" (click)="previousMonth()"><<</span>
                    <span>{{ month }}</span>
                    <span class="nextMonth" (click)="nextMonth()">>></span>
                </div>
        </div>
    </div>
        <div class="row">
            <div class="col-xs-12">
                <ul>
                    <li class="weekDay" *ngFor="let day of week">
                        {{ day }}
                    </li>
                </ul>
                
            </div>
        </div>
    <div class="row">
        <div class="col-xs-12">
            <ul>
                <li class="date" *ngFor="let date of weekOne" [ngClass]="{lastMonth: date.month!==currentMonth}" id="{{date.date.toString() + date.month + date.year.toString()}}" (click)="onDate(date)">
                    {{ date.date }}
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12" >
            <ul>
                <li class="date" *ngFor="let date of weekTwo" [ngClass]="{lastMonth: date.month!==currentMonth}" id="{{date.date.toString() + date.month + date.year.toString()}}" (click)="onDate(date)">
                    {{ date.date }}
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12" >
            <ul>
                <li class="date" *ngFor="let date of weekThree" id="{{date.date.toString() + date.month +date.year.toString()}}" (click)="onDate(date)">
                    {{ date.date }}
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12" >
            <ul>
                <li class="date" *ngFor="let date of weekFour" id="{{date.date.toString() + date.month +date.year.toString()}}" (click)="onDate(date)">
                    {{ date.date }}
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <ul>
                <li class="date" *ngFor="let date of weekFive" id="{{date.date.toString() + date.month +date.year.toString()}}" [ngClass]="{lastMonth: date.month!==currentMonth}" (click)="onDate(date)">
                    {{ date.date }}
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <ul>
                <li class="date" *ngFor="let date of weekSix" id="{{date.date.toString() + date.month +date.year.toString()}}" [ngClass]="{lastMonth: date.month!==currentMonth}" (click)="onDate(date)">
                    {{ date.date }}
                </li>
            </ul>
        </div>
    </div>
</div>